@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url('/login/login1.jpg'); /* Replace 'login1.jpg' with your actual image URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background image fixed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

.container .form {
  padding: 1rem; /* Reduce padding */
}

.form header {
  font-size: 1.5rem; /* Reduce font size */
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem; /* Reduce margin bottom */
}

.form input,
.form select,
.form textarea {
  height: 40px; /* Reduce height */
  width: 100%;
  padding: 0 10px; /* Reduce padding */
  font-size: 16px; /* Reduce font size */
  margin-bottom: 0.8rem; /* Reduce margin bottom */
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form textarea {
  height: 100px;
}

.form input[type="file"] {
  position: relative;
  overflow: hidden;
}

.form input[type="file"]::before {
  content: "+"; /* Add your desired symbol here */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #009579;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input[type="file"]:hover::before {
  background: #006653;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem; /* Adjust margin top */
  cursor: pointer;
  transition: 0.4s;
}

.form button:hover {
  background: #006653;
}
.form input.button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem; /* Adjust margin top */
  cursor: pointer;
  transition: 0.4s;
}

